{% extends "base.html" %}
<!--  -->
{% block content %}

<div class="row mt-2">
  <div class="col-md-6 m-auto">
    <div class="card card-body">
      <form method="POST">
        {% csrf_token %}

        <div class="form-group">
          <label for="first_name">First Name :</label>
          <input
            type="text"
            class="form-control"
            name="first_name"
            value="{{contact.first_name}}"
          />
        </div>

        <div class="form-group">
          <label for="last_name">Last Name :</label>
          <input
            type="text"
            class="form-control"
            name="last_name"
            value="{{contact.last_name}}"
          />
        </div>


        <span id="btnremove" >
          <button class="btn btn-info" type="button" id="addon">Add <i class="fas fa-phone"></i></button>
        </span>
        

        <div class="form-group">
          <span id="phones" >
          <label for="phone">Phone Number :</label>
          {% for phone in phones %}
          <input
          type="text"
          class="form-control"
          name="{{phone}}"
          value="{{phone}}"
        />
          {% endfor %}
        </span>
        </div>

        <div class="form-group">
          <label for="email">Email :</label>
          <input
            type="email"
            class="form-control"
            name="email"
            value="{{contact.email}}"
          />
        </div>
        <button class="btn btn-primary" type="submit">Update</button>
      </form>
    </div>
  </div>
</div>

<script>

$("#addon").click(function() {
    child_length = child_length = $("phones").children().length;
    $("#phones").append("<div class='flexContainer'><input type='text' name='phone" +child_length+ "' /></div>");    
});
</script>
{% endblock %}
